/* ------------ */
/* RESET */
/* ------------ */

:root {
	font-size: 16px;
	/* colors */
	--clr-orange: #c74817;
	--clr-text: #3c3c3c;
	--clr-grey: #dfe0df;
	--clr-cream: #f5f0ed;
	--clr-light: #fff8ea;

	/* font-size */

	/* Heading */
	--fs-900: clamp(2rem, 5vw + 1rem, 4.5rem);
	--fs-800: 3.125rem;
	--fs-700: 2.62rem;

	/* paragrapghs */
	--fs-600: 1.375rem;
	--fs-500: 1.25rem;
	--fs-400: 1.125rem;
	--fs-300: 1rem;
	--fs-200: 0.875rem;

	/* font-family */
	--ff-oswald: 'Oswald', sans-serif;
	--ff-shadows: 'Shadows Into Light Two', cursive;
	--ff-roboto: 'Roboto', sans-serif;

	/* player setup */
	--plyr-color-main: #c74817;
	--plyr__controls: hidden;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
picture {
	margin: 0;
}

h1,
h2,
h3,
h4,
p {
	font-weight: 400;
}

/* set the body */

body {
	font-family: var(--ff-oswald);
	font-size: var(--fs-400);
	color: var(--clr-text);
	background-color: var(--clr-cream);
	line-height: 1.5;
	overflow-x: hidden;
}

img,
picture,
video {
	max-width: 100%;
	display: block;
}

/* general */

.container {
	max-width: 80em;
	margin-inline: auto;
	padding-inline: 2rem;
}

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}
.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.ff-roboto {
	font-family: var(--ff-roboto);
}

.relative {
	position: relative;
}

.vh-80 {
	height: 80vh;
}

.btn {
	text-transform: uppercase;
	display: inline-block;
	background-color: var(--clr-orange);
	color: #fff;
	padding: 0.75rem 1.12rem;
	text-decoration: none;
}

.absolute {
	position: absolute;
}

/* styling */

header {
	align-items: center;
	justify-content: space-between;
}

.logo {
	margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
	max-width: 60px;
}
.nav {
	list-style: none;
	--gap: 3rem;
}

.nav-link {
	position: relative;
	text-decoration: none;
	color: var(--clr-text);
	font-weight: 500;
}

.nav-link.active {
	color: var(--clr-orange);
	text-underline-offset: 0.45em;
}

.nav-link.active:after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	bottom: -4px;
	left: 0;
	background-color: var(--clr-orange);
}

.nav-link::before {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	bottom: -4px;
	left: 0;
	background-color: var(--clr-orange);
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

.nav-link:hover::before {
	transform: scaleX(1);
}

/* subdropdown */
.product-nav-wrapper:hover > .product-dropdown,
.product-dropdown:hover {
	visibility: visible;
	opacity: 1;
	transition: all 0.5s ease;
}

.product-dropdown {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	text-transform: uppercase;
	list-style: none;
	padding-top: 0.55rem;
	padding: 0.55rem 1.5rem 0.55rem 1rem;
	background-color: #fff;
	left: 0;
	transition: all 0.5s ease;
}

.product-dropdown a {
	text-decoration: none;
	color: var(--clr-text);
	font-size: var(--fs-200);
	font-weight: 500;
}

.product-dropdown a:hover {
	color: var(--clr-orange);
}

.triangle {
	position: absolute;
	top: -5px;
	left: 5px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
}

/* main-content */

.grid-container {
	display: grid;
	grid-template-columns: 1.5fr 2fr;
	gap: 2rem;
	place-items: center;
}

.heading-container > p {
	font-size: var(--fs-600);
}

.heading-container > h1 {
	font-size: var(--fs-900);
	text-transform: uppercase;
	letter-spacing: 0.01px;
}

.heading-container > *:where(:not(:first-child)) {
	margin-bottom: 1rem;
}
.heading-container > *:where(:last-child) {
	margin-block: 2rem;
}

.btn-main:hover {
	background-color: #d83306;
	transition: all 0.3s ease;
}

.bee {
	width: 30px;
	height: auto;
}

.bee-heading-start {
	left: 100px;
	animation: flyingbeeright 2s linear infinite;
}
.bee-heading-end {
	right: 100px;
	animation: flyingbeeleft 2s linear infinite;
	animation-delay: 0.5s;
}

.intro-honeyhive {
	width: 40%;
	left: -19vw;
	bottom: -5vh;
	z-index: -1;
}

@keyframes flyingbeeright {
	0% {
		transform: translateY(0px) scaleX(-1);
	}
	25% {
		transform: translateY(25px) scaleX(-1);
	}
	50% {
		transform: translateY(50px) scaleX(-1);
	}
	75% {
		transform: translateY(25px) scaleX(-1);
	}

	100% {
		transform: translateY(0px) scaleX(-1);
	}
}
@keyframes flyingbeeleft {
	0% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(35px);
	}
	50% {
		transform: translateY(60px);
	}
	75% {
		transform: translateY(35px);
	}

	100% {
		transform: translateY(0px);
	}
}

/* where magic happens */

.grid-container-magic {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-block: 3rem;
}
.plyr__control--overlaid {
	padding: calc(var(--plyr-control-spacing, 10px) * 2.5);
}

.grid-container-magic > :first-child {
	display: grid;
	place-items: center;
	padding: 3rem;
	background-color: var(--clr-light);
	transform: translateY(-50px);
	/* margin-top: -3rem;
	margin-bottom: 3rem; */
}

.amazing-wrapper-text > h2 {
	font-family: var(--ff-shadows);
	color: var(--clr-orange);
	font-size: var(--fs-800);
	margin-bottom: 3rem;
}

.amazing-wrapper-text > p {
	max-width: 60ch;
	margin-bottom: 2rem;
}

.beehive-container {
	max-width: 70px;
	right: 3rem;
	bottom: 1rem;
}

.magic-bee {
	width: 25px;
	height: auto;
	right: -1.8rem;
	top: 0;
	animation: flyingbeeleft 2s linear infinite;
}

/* section-characteristic */

.section-characteristic {
	margin-block: 8rem;
}

.grid-container-characteristic {
	display: flex;
	justify-content: space-around;
	max-height: 400px;
	gap: 2rem;
	margin-block: 3rem;
}

.single-characteristic > p {
	font-size: 1.75rem;
}

.characteristic-heading {
	font-size: var(--fs-700);
	max-width: 22ch;
	text-align: center;
	margin-inline: auto;
}

.characteristic-media {
	position: relative;
}

.characteristic-media > img {
	height: 300px;
	aspect-ratio: 1;
	object-fit: cover;
	object-position: 50% 70%;
}
.characterstic-description {
	margin-top: 1rem;
}

.media-icon {
	position: absolute;
	display: flex;
	place-items: center;
	top: 0;
	background-color: #a58e65;
	padding: 0 0.75rem;
	max-width: 80px;
	height: 100%;
	transition: all 0.4s ease;
	overflow: hidden;
}

.media-icon > img {
	max-width: 50px;
}

.media-icon > p {
	transform: translateX(150px);
	padding-left: 1rem;
	opacity: 0;
	transition: all 0.8s ease;
}

.characteristic-media:hover > .media-icon {
	max-width: 80%;
	transition: all 0.5s ease;
}
.characteristic-media:hover > .media-icon p {
	transform: translateX(0px);
	opacity: 1;
	transition: all 1.8 s ease;
}

.bottom-left {
	bottom: -300px;
	left: -300px;
	max-width: 40%;
	z-index: -1;
}
.top-right {
	top: -100px;
	right: -300px;
	max-width: 40%;
	z-index: -1;
}

/* about section */

.grid-template-about {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 4rem;
	/* place-items: center space-between; */
}

.about-description {
	padding: 2rem;
}

.about-description > h2 {
	font-size: var(--fs-700);
	letter-spacing: 1px;
	margin-bottom: 2rem;
}

.about-description > h2 span {
	font-family: var(--ff-shadows);
	color: var(--clr-orange);
}

.about-image {
	display: grid;
	place-content: center;
}

/* PRODUCTS */

.products {
	margin-block: 4rem;
	overflow: hidden;
}

.products > h2 {
	font-size: var(--fs-700);
	text-align: center;
}

.products > p {
	text-align: center;
	max-width: 80ch;
	margin-inline: auto;
}

.products-wrapper {
	--gap: 4rem;
	padding-block: 2rem;
}

.product {
	flex: 1 1 100%;
	text-align: center;
}
.product > *:where(:not(:last-child)) {
	margin-bottom: 0.75rem;
}

.product:hover > .product-image {
	transform: translateY(-15px);
	transition: transform 0.3s ease;
}

.product-image {
	transform: translateY(0px);
	transition: transform 0.3s ease;
}
.product-image > img {
	margin-inline: auto;
	max-width: 80%;
}

.product-title {
	font-size: 1.75rem;
}

.product-price {
	color: var(--clr-orange);
	font-size: var(--fs-400);
}

.product-description > p {
	font-size: var(--fs-300);
	font-weight: 200 !important;
	max-width: 25ch;
	margin-inline: auto;
}

.honeydrop-bee {
	background-image: url('img/assets/honey-drop.png');
	width: 100px;
	aspect-ratio: 1;
	background-size: cover;
	background-repeat: no-repeat;
	top: 100px;
	right: -20px;
}

.honeydrop-bee > .bee {
	left: -30px;
}
/* testimonials */

.grid-template-testimonials {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	margin-block: 4rem;
}

/* .grid-template-testimonials > * {
	outline: 1px solid limegreen;
} */

.single-testimonial {
	place-self: center;
}

.single-testimonial > h3 {
	font-size: var(--fs-700);
	margin-bottom: 2rem;
}

.single-testimonial > p {
	font-size: var(--fs-400);
	font-weight: 300;
	letter-spacing: 1px;
	margin-bottom: 2rem;
	max-width: 50ch;
}

.user-testimonial {
	place-items: center;
}

.user-img {
	display: inline-grid;
	place-content: center;
	padding: 0.3rem;
	border-radius: 50%;
	background-color: var(--clr-orange);
}

.user-inner-circle {
	border: 1px solid #fff;
	width: 100px;
	aspect-ratio: 1;
	border-radius: 50%;
	overflow: hidden;
}

.user-inner-circle > img {
	object-fit: cover;
}

.user-name {
	color: #6a6a6a;
	font-weight: 500;
}

.user-country {
	font-size: var(--fs-200);
	font-weight: 300;
}

.user-stars {
	display: flex;
	place-items: center;
}
.user-stars > span {
	margin-inline: 0.35rem;
	font-size: var(--fs--300);
	font-weight: 500;
}

.star-list {
	display: flex;
	place-items: center;
	list-style: none;
	padding: 0;
}

.star-list > li {
	color: #f8bc00;
	padding: 0 0.15rem;
}

/* testimonials circles */

.all-testimonials {
	display: grid;
	place-content: center center;
}

#testimonials-wrapper {
	position: relative;
	display: grid;
	place-items: center;
	width: 100px;
	aspect-ratio: 1;
	background-color: #fff;
	/* border: 1px solid lime; */
	border-radius: 50%;
}

#testimonials-wrapper > * {
	box-shadow: rgba(100, 100, 111, 0.5) 5px 5px 10px 0px;
}

.circle-image-container {
	display: grid;
	place-items: center;
	width: 85%;
	aspect-ratio: 1;
	background-color: var(--clr-light);
	border-radius: 50%;
}
.circle {
	position: absolute;
	display: grid;
	place-items: center;
	width: 100px;
	aspect-ratio: 1;
	background-color: var(--clr-orange);
	border-radius: 50%;
	margin: calc(-100px / 2);
	top: 50%;
	left: 50%;
	transform: translate(50%, 50%);
	cursor: pointer;
}

.circle-image-container > img {
	width: 40px;
}

.current-testimonial {
	width: 85%;
	height: 85%;
	display: grid;
	place-content: center;
	background-color: var(--clr-orange);
	border-radius: inherit;
}

.current-testimonial > img {
	width: 40px;
}

.circle:hover {
	background-color: var(--clr-light);
	transition: all 0.3s ease;
}
.circle:hover > * {
	background-color: var(--clr-orange);
	transition: all 0.3s ease;
}
.circle > * * {
	transform: translateY(0px);
	transition: all 0.5s ease;
}
.circle:hover > * * {
	transform: translateY(-100%);
	transition: all 0.5s ease;
}

.honeydrop-bee-left {
	width: 150px;
	aspect-ratio: 1;
	left: -50px;
}

.honeydrop-bee-left > *:last-child {
	right: 0px;
}
